/* ----------------------------------------------------------
*  -- My Barrie Examiner --
*  -- Author - Pranav Kural --
*  -- Git: https://github.com/pranav-kural/Newspaper-Website.git
*  -- Website: http://pranav-kural.github.io/Newspaper-Website/ */
/*-----------------------------------------------
------- Wrapper for all the content of body -----
-------------------------------------------------*/
.AllContent {
    padding: 15px;
    margin: auto;
    height: 100%;
}
@media (min-width: 768px) {
    .AllContent {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .AllContent {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .AllContent {
        width: 1170px;
    }
}
.AllContent > header {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    float: top;
    z-index: 1;
    background: gold url('http://cdn.pcwallart.com/images/gold-color-wallpaper-wallpaper-3.jpg') fixed;
}
.AllContent > header > nav {
    display: inline-block;
    width: 80%;
    height: 30%;
    position: relative;
    bottom: 0;
    right: 10%;
    left: 10%;
    z-index: -1;
    background-color: forestgreen;
}
.content-container {
    display: flex;
    width: 100%;
    align-content: stretch;
}
main {
    float: left;
    width: 80%;
    position: relative;
    z-index: 2;
    background-color: lightgreen;
}
aside {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 20%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 3;
    background-color: yellow;
}
.AllContent > footer {
    float: bottom;
    width: 100%;
    height: 20%;
    position: relative;
    overflow-y: auto;
    z-index: 3;
    background-color: green;
}
/* Specific stylizing */
[class="link"],
[role="button"] {
    cursor: pointer;
}
.circle-out {
    border-radius: 50%;
}
.article-head {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
/*
---------------------------------------------------------
|     _____                          ___       __       |
|    | | __\                         | |      / /       |
|    | |   \\                        | |    / /         |
|    | |    \\                       | |  / /           |
|    | |    ||                       | |/ /             |
|    | |   //                        | |/\              |
|    | | //               O          | |\ \             |
|    | |                             | | \ \            |
|    | |                             | |  \ \           |
|    | |                             | |   \ \          |
|    | |                             | |    \ \         |
---------------------------------------------------------
*/